:root {
    --radiant-orange: #ff3700;
    --fog-gray: #F2F4F7;
    --coal-black: #141517;
    --text-color: #2c3e50;
}
  
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    box-sizing: border-box;
}
  
.nav-conteiner {
    background-color: var(--radiant-orange);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center; /* Ensure items are centered vertically */
    padding: 0 1em; /* Add some padding to the container */
}
  
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 3em;
    text-decoration: none;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}
  
.logo:hover {
    transform: scale(1.25); /* Scale up the logo on hover */
}
  
.nav-links {
    display: flex;
    margin-right: 3em;
}
  
.nav-links a{
    margin-left: 1em; /* Add some space between the links */
    color: white;
    text-decoration: none;
    align-self: center; /* Ensure links are centered vertically */
    padding: 10px;
    border-radius: 15px;
}
  
  
.nav-links a:hover{
    transition: .5s ease-in-out;
    background-color: #2c3e50;
}
  
/* -- NAV -- */

.servicios-conteiner{
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px rgb(147, 147, 147);
}
/* División nav y tabla */

.servicios-section-line{
    width: 920px;
}

.breadcrumbs a{
    color: var(--radiant-orange);
    text-decoration: none;
}

.breadcrumbs a:hover{
    color: var(--radiant-orange);
    text-decoration: underline;
}
/* Tablas Servicios */

.tabla-servicio{
    margin-top: 25px;
    background-color: white;
    border: solid 1px rgb(153, 153, 153);
    border-radius: 5px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.servicio-realizado{
    height: 5em;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}


.servicio-realizado{
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: solid 1px gainsboro;
}


/* Lista categorias */

.categorias-menu{
    height: 500px;
    display: flex;
    flex-flow: column;
    height: 100px;
    overflow: auto;
}


.categoria-select{
    display: inline-block;
    height: 50px;
    border: 0;
    font-size: 16px;
    padding-left: 50px;
}



/* ---- */
.nombre-servicio{
    font-weight: bold; 
    font-size: 20px;
    margin-left: 20px;
}

.descripcion-servicio{
    margin-left: 10px;
    margin-right: 10px;
}



.informacion-servicio{
    box-sizing: border-box;
    height: 500px;
    display: flex;
    flex-flow: column;
    overflow: auto;
    align-items: center;
}

.informacion-servicio input {
    box-sizing: border-box;
    padding: 0;
    padding-left: 10px;
    height: 50px;
    width: 600px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: solid 2px gainsboro;
    font-size: 15px;
}

.informacion-servicio input.input-costo {
    box-sizing: border-box;
    width: 150px;
    align-self: flex-start;
    margin-left: 50px;

}

.informacion-servicio input:placeholder-shown{
    padding-left: 10px;
    font-size: 15px;
}

.informacion-servicio input:focus{
    border: 0;
    border-bottom: solid 3px var(--text-color);
    outline: none;
    font-size: 15px;
}

.informacion-servicio textarea {
    display: inline-block;
    resize: none;
    box-sizing: border-box;
    width: 600px;
    height: 200px;
    font-family: "Lato", sans-serif;
    margin-top: 20px;
    font-size: 15px;
    border: solid 2px gainsboro;
}

.informacion-servicio textarea:focus{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
    outline: none;
    border: solid 2px var(--text-color);
}

.informacion-servicio textarea:placeholder-shown{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
}

.opciones-servicio{
    height: 10px;
    display: flex;
    align-items: center;
}

/* Boton Publicar */
.boton-publicar{
    height: 40px;
    margin: 10px 0 20px 50px;
    border-radius: 5px;
    background-color: var(--radiant-orange);
    color: white;
    border: 0;
    font-size: medium;
    cursor: pointer;
    width: 150px;
  }
  
  .boton-publicar:hover{
    background-color: #c42e05;
    transition: .5s;
  }

/* Estilos para el footer */
.footer-conteiner{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: var(--radiant-orange);
    height: 100px;
}
  
.footer-link {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
  
  
.footer-link:hover{
    text-decoration: underline;
}
  
.copyright{
    color: white;
    font-size: 13px;
    margin: 0;
    margin-top: 20px;
}
  
  /* --- */

/* Errores */

span {

    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 0px 10px 10px 10px;
}

span.error-categoria{
    position: absolute;
    top: 300px;
    align-self: center;
}

span.error-nombre{
    display: flex;
}

span.error-costo{
    display: inline-block;
}

span.error-descripcion{
    margin: 10px;
}

.success-message{
    position: absolute;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    left: 600px;
    top: 200px;
    font-weight: bold;
    color: white;
}